  @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
  @import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

  main {
    min-width: 320px;
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
    background: #fff;
  }

  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 80%;
  }

  input {
   /*  display: none; */
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }

  label[for*='1']:before { content: '\f1cb'; }
  label[for*='2']:before { content: '\f1b3'; }

  label:hover {
    color: #888;
    cursor: pointer;
  }

  input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
  }

  .tsTab:checked ~ .tsContent,
  .jsTab:checked ~ .jsContent {
    display: block;
  }
